*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
.sidebar {
    height: 690px;
    margin-top: 0px;
    width: 15%;
    position:relative;
    background-color: gray;
    padding-top: 60px; /* Adjusted to accommodate the header height */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    border-bottom: #fff 1px solid;
  }
  
  .sidebar ul li {
    padding: 10px;
    border-bottom: #fff 1px solid;
    padding-top: 50px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    background-color: rgb(14, 13, 13);
  }
  .header{
	background-color: darkred;
	height: 60px;
	width: auto;
  }
.container{
	width: 85%;
	margin-top: -690px;
	margin-left: 190px;
	margin-bottom: 20px;
	height: 116vh;
	background: linear-gradient(rgb(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)),url(f.png);
	background-size: cover;
	background-position: center;
	font-family: aerial;
}
.nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 80px;
	margin-left: 800px;
}
.nav-bar h1{
	color: whitesmoke;
	font-size: 67px;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 70px;
}
.nav-bar span{
	color: darkred;
}
.nav-bar p{
	position: absolute;
	margin-top: 10px;
	margin-left: 50px;
	color: white;
	left: 1px;
	right: 1px;
	font-size: 20px;
	font-weight: 500;
}
.menu{
	margin-top: 15px;
}

.home{
	height: 400px;
	padding: 70px;
	margin-top: 1px;
	margin-left: 20px;
}
.home h1{
	font-size: 56px;
	color: white;
	font-weight: 600;
}
.home span{
	color: crimson;
}
.home p{
	color:lemonchiffon;
	font-size: 20px;
	margin-top:10px;
}
.home button{
	height: 40px;
	width: 150px;
	color: white;
	background: crimson;
	padding: 5px 30px;
	margin-top: 20px;
	border: none;
	border-radius: 20px;
	transition: .4s ease;
	cursor: pointer;
}
.home button:hover{
	background: none;
	border: 2px solid crimson;
}
.tt img{
	width: 500px;

	height: 300px;
}
.bb home{
	width: 200px;
	height: 150px;
}
.i{

	display: flex;

}
.u{
	justify-content: center;
	align-items: center;
	color: green;
	font-size: 30px;
	font-weight: bold;
	padding-left: 400px;
	
}
.u p{


	color: black;
	font-size: 20px;
	padding-left: 400px;

}

}
 } 
 .hot-coffees-body{
 	 	width: 100px;
 	background-color: green;

 }
.menu{
	padding: 25px 0 25px 0;
}
.menu h2 section{
		padding: 25px 0 25px 0;
		text-align: center;
		font-size: 2rem;
		font-family: verdana;
}
.menu_row{
	display: flex;
	padding: 0 100px  100px;
}
.menu_col{
	box-shadow: 2px 2px 2px #bbb;
	border: 1px solid #bbb;
	background-color: #fff;
	margin: 10px;
	padding: 10px;
	flex: 1;
}
.menu_col h2{
	color: #fff;
	background-color: red;
	padding: 5px;
	text-align: center;
	font-family: cursive;
}
.box img{
	width: 150px;
	height: 150px;
	border-radius: 50px;
	padding-bottom: 5px;
	border: 2px solid orange;
}
.image img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 2px solid orange;
	object-fit: cover;
}
.image{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;

}